@import 'variables';

nav {
    padding: 0;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    // border-top: 1px solid $infiltro-border-grey;
    // border-bottom: 1px solid $infiltro-border-grey;
}

a {
    display: block;
    position: relative;
    // float: left;
    text-align: right;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    padding: .1em 1em;
    border: 0;
    cursor: pointer;

    &:hover {
        color: #ff0000;

        .submenu {
            display: block;
        }
    }

    &.active {
        color: #6a6a6a;
        font-weight: 700;
    }
}

.submenu {
    position: absolute;
    z-index: 1;
    display: none;
    right: 0;
    padding-top: 6px;

    a {
        padding: .5em 1.5em;
        font-size: .85em;
        font-weight: 300;
        white-space: nowrap;
        color: black;
        background: $infiltro-border-grey;
        width: 100%;

        &:hover {
            color: #777;
            background: #e2e2e2;
        }
    }
}
