<form [formGroup]="singleProjectCommentsService.commentForm" class="wrapper noBorder" (ngSubmit)="singleProjectCommentsService.onSubmit()" *ngIf="!singleProjectService.archiveActive">
  <div class="inputGroup">
    <textarea name="content" id="content" formControlName="content" rows="3"></textarea>
  </div>

  <div class="inputGroup right">
    <ng-container *ngIf="singleProjectCommentsService.editState; else elseTemplate">
      <input type="submit" value="Opmerking aanpassen">
    </ng-container>
    <ng-template #elseTemplate>
      <input type="submit" *ngIf="!newProject" value="Opmerking toevoegen">
    </ng-template>
  </div>
</form>
<div class="list comments">
  <div class="comment" *ngFor="let comment of singleProjectCommentsService.comments | reverse">
    <div class="user">{{comment.user | user | async}}</div>
    <div class="modifiedDateTime">{{comment.modifiedDateTime | date}} <span *ngIf="commentModified(comment)">*</span></div>
    <div class="content" [innerHTML]="formService.newlineToBr(comment.content)"></div>
    <div class="icon edit" *ngIf="auth.getUserDetails().id == comment.user || auth.isAdmin()" (click)="singleProjectCommentsService.editComment(comment)"><img src="assets/images/icon-edit.svg" alt=""></div>
    <div class="icon delete" *ngIf="auth.getUserDetails().id == comment.user || auth.isAdmin()" (click)="singleProjectCommentsService.removeComment(comment)"><img src="assets/images/icon-delete.svg" alt=""></div>
  </div>
</div>