<ng-container *ngIf="projectId; else elseTemplate">
  <a [routerLink]="[ '/projects', projectId ]">back</a>
</ng-container>
<ng-template #elseTemplate>
  <a routerLink="/projects">back</a>
</ng-template>


<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div class="formSection">
    <div class="inputGroup">
      <label for="company">company</label>
      <select name="company" id="company" formControlName="company">
        <option value="">select company</option>
        <option *ngFor="let company of companyService.getCompanies()" [value]="company._id">{{company.name}}</option>
      </select>
      <p *ngIf="formService.checkInputField(projectForm, 'company')" class="error">!</p>
    </div>
  </div>
  <div class="formSection">
    <div class="inputGroup">
      <label for="dateCreated">dateCreated</label>
      <input type="date" name="dateCreated" id="dateCreated" formControlName="dateCreated">
      <p *ngIf="formService.checkInputField(projectForm, 'dateCreated')" class="error">!</p>
    </div>

    <div class="inputGroup">
      <label for="projectType">projectType</label>
      <select name="projectType" id="projectType" formControlName="projectType">
        <option value="">select projectType</option>
        <option *ngFor="let projectType of formService.projectTypes" [value]="projectType.type">{{projectType.name}}</option>
      </select>
      <p *ngIf="formService.checkInputField(projectForm, 'projectType')" class="error">!</p>
    </div>

    <div class="inputGroup">
      <label for="houseAmount">houseAmount</label>
      <input type="number" name="houseAmount" id="houseAmount" formControlName="houseAmount">
      <p *ngIf="formService.checkInputField(projectForm, 'houseAmount')" class="error">!</p>
    </div>

    <div class="inputGroup">
      <label for="projectName">projectName</label>
      <input type="text" name="projectName" id="projectName" formControlName="projectName">
      <p *ngIf="formService.checkInputField(projectForm, 'projectName')" class="error">!</p>
    </div>

    <div class="inputGroup">
      <label for="client">client</label>
      <input type="text" name="client" id="client" formControlName="client">
      <p *ngIf="formService.checkInputField(projectForm, 'client')" class="error">!</p>
    </div>
  </div>

    <div class="formSection">
      <div class="inputGroup">
        <label for="street">street</label>
        <input type="text" name="street" id="street" formControlName="street">
        <p *ngIf="formService.checkInputField(projectForm, 'street')" class="error">!</p>
      </div>

      <div class="inputGroup">
        <label for="city">city</label>
        <input type="text" name="city" id="city" formControlName="city">
        <p *ngIf="formService.checkInputField(projectForm, 'city')" class="error">!</p>
      </div>

      <div class="inputGroup">
        <label for="postalCode">postalCode</label>
        <input type="text" name="postalCode" id="postalCode" formControlName="postalCode">
        <p *ngIf="formService.checkInputField(projectForm, 'postalCode')" class="error">!</p>
      </div>

      <div class="inputGroup">
        <label for="extraInfoAddress">extraInfoAddress</label>
        <textarea name="extraInfoAddress" id="extraInfoAddress" formControlName="extraInfoAddress" cols="30" rows="10"></textarea>
        <p *ngIf="formService.checkInputField(projectForm, 'extraInfoAddress')" class="error">!</p>
      </div>
    </div>

    <div class="formSection">
      <div class="inputGroup">
        <label for="name">name</label>
        <input type="text" name="name" id="name" formControlName="name">
        <p *ngIf="formService.checkInputField(projectForm, 'name')" class="error">!</p>
      </div>

      <div class="inputGroup">
        <label for="tel">tel</label>
        <input type="text" name="tel" id="tel" formControlName="tel">
        <p *ngIf="formService.checkInputField(projectForm, 'tel')" class="error">!</p>
      </div>

      <div class="inputGroup">
        <label for="email">email</label>
        <input type="email" name="email" id="email" formControlName="email">
        <p *ngIf="formService.checkInputField(projectForm, 'email')" class="error">!</p>
      </div>

      <div class="inputGroup">
        <label for="extraInfoContact">extraInfoContact</label>
        <textarea name="extraInfoContact" id="extraInfoContact" formControlName="extraInfoContact" cols="30"
          rows="10"></textarea>
        <p *ngIf="formService.checkInputField(projectForm, 'extraInfoContact')" class="error">!</p>
      </div>

      <div class="inputGroup">
        <label for="EpbReporter">EpbReporter</label>
        <input type="text" name="EpbReporter" id="EpbReporter" formControlName="EpbReporter">
        <p *ngIf="formService.checkInputField(projectForm, 'EpbReporter')" class="error">!</p>
      </div>
    </div>

    <div class="formSection">
      <div class="inputGroup">
        <label for="ATest">ATest</label>
        <input type="text" name="ATest" id="ATest" formControlName="ATest">
        <p *ngIf="formService.checkInputField(projectForm, 'ATest')" class="error">!</p>
      </div>

      <div class="inputGroup">
        <label for="v50Value">v50Value</label>
        <input type="text" name="v50Value" id="v50Value" formControlName="v50Value">
        <p *ngIf="formService.checkInputField(projectForm, 'v50Value')" class="error">!</p>
      </div>

      <div class="inputGroup">
        <label for="protectedVolume">protectedVolume</label>
        <input type="text" name="protectedVolume" id="protectedVolume" formControlName="protectedVolume">
        <p *ngIf="formService.checkInputField(projectForm, 'protectedVolume')" class="error">!</p>
      </div>
    </div>

    <div class="formSection">
      <div class="inputGroup">
        <label for="executor">executor</label>
        <select name="executor" id="executor" formControlName="executor">
          <option value="">select executor</option>
          <option *ngFor="let executor of formService.executors" [value]="executor.type">{{executor.name}}</option>
        </select>
        <p *ngIf="formService.checkInputField(projectForm, 'executor')" class="error">!</p>
      </div>

      <div class="inputGroup">
        <label for="datePlanned">datePlanned</label>
        <input type="date" name="datePlanned" id="datePlanned" formControlName="datePlanned">
        <p *ngIf="formService.checkInputField(projectForm, 'datePlanned')" class="error">!</p>
      </div>

      <div class="inputGroup">
        <label for="hourPlanned">hourPlanned</label>
        <input type="time" name="hourPlanned" id="hourPlanned" formControlName="hourPlanned">
        <p *ngIf="formService.checkInputField(projectForm, 'hourPlanned')" class="error">!</p>
      </div>

      <div class="inputGroup">
        <label for="status">status</label>
        <select name="status" id="status" formControlName="status">
          <option value="">select status</option>
          <option *ngFor="let status of formService.statuses" [value]="status.type">{{status.name}}</option>
        </select>
        <p *ngIf="formService.checkInputField(projectForm, 'status')" class="error">!</p>
      </div>
    </div>

    <div class="formSection">
      <div class="inputGroup">
        <label for="comments">comments</label>
        <textarea name="comments" id="comments" formControlName="comments" cols="30" rows="10"></textarea>
        <p *ngIf="formService.checkInputField(projectForm, 'comments')" class="error">!</p>
      </div>
    </div>

    <div class="formSection">
      <div class="inputGroup">
        <label for="invoiced">invoiced</label>
        <input type="checkbox" name="invoiced" id="invoiced" formControlName="invoiced">
        <p *ngIf="formService.checkInputField(projectForm, 'invoiced')" class="error">!</p>
      </div>
    </div>

  <div class="formSection">
    <div class="inputGroup">
      <label for="save"></label>
      <input type="submit" value="save">
    </div>
  </div>

  <div class="formSection">
    <div class="inputGroup">
      <div></div>
      <div (click)="removeProject()">delete this project</div>
    </div>
  </div>
</form>