<div class="wrapper">
    <div class="controls">
        <div (click)="singleProjectArchiveService.olderProject()" class="icon"><img *ngIf="singleProjectArchiveService.isOlderProjectAvailable()" src="/assets/images/icon-arrow-prev.svg" alt=""></div>
        <div class="info" *ngIf="singleProjectArchiveService.archiveProjectData">
            <div class="date">Opgeslagen op: {{ singleProjectArchiveService.archiveProjectData.savedDateTime | formatDate: 'time' }}</div>
            <div class="user">Opgeslagen door: {{ singleProjectArchiveService.archiveProjectData.user | user | async }}</div>
        </div>
        <div (click)="singleProjectArchiveService.newerProject()" class="icon"><img *ngIf="singleProjectArchiveService.isNewerProjectAvailable()" src="/assets/images/icon-arrow-next.svg" alt=""></div>
    </div>
</div>

<app-single-project></app-single-project>