<div class="list users">
  <h1>User admin</h1>
  <div class="item" *ngFor="let user of userService.users">
    <div>{{user.name}} ({{user.email}})</div>
    <div>{{companyService.companyName(user.company)}}</div>
    <div>{{userService.roleName(user.role)}}</div>
    <div class="icon" (click)="editUser(user)"><img src="assets/images/icon-edit.svg" alt=""></div>
    <div class="icon" *ngIf="user._id !== auth.getUserDetails().id" (click)="removeUser(user)"><img src="assets/images/icon-delete.svg" alt=""></div>
  </div>
</div>

<form [formGroup]="registerForm" class="wrapper" (ngSubmit)="onSubmit()">
  <div class="inputGroup">
    <label for="name">name</label>
    <input type="text" name="name" formControlName="name">
    <p *ngIf="formService.checkInputField(registerForm, 'name', submitted)" class="error">!</p>
  </div>
  <div class="inputGroup">
    <label for="email">email</label>
    <input type="email" name="email" formControlName="email">
    <p *ngIf="formService.checkInputField(registerForm, 'email', submitted)" class="error">!</p>
  </div>
  <div class="inputGroup">
    <label for="company">company</label>
    <select name="company" formControlName="company">
      <option value="">select company</option>
      <option *ngFor="let company of companyService.getCompanies() | async" [value]="company._id">{{company.name}}</option>
    </select>
    <p *ngIf="formService.checkInputField(registerForm, 'company', submitted)" class="error">!</p>
  </div>


  <div class="inputGroup">
    <label for="role">role</label>
    <select name="role" formControlName="role">
      <option value="">select role</option>
      <option *ngFor="let role of userService.getUserRoles()" [value]="role.type">{{role.name}}</option>
    </select>
    <p *ngIf="formService.checkInputField(registerForm, 'role', submitted)" class="error">!</p>
  </div>

  <div class="inputGroup right">
    <ng-container *ngIf="editState; else elseTemplate">
      <input type="submit" value="edit user">
    </ng-container>
    <ng-template #elseTemplate>
      <input type="submit" value="add user">
    </ng-template>
  </div>

</form>