@import 'variables';
@import 'forms';

form {
    border: none;

    .inputGroup {
        padding-right: 0;
        padding-left: 0;
        grid-template-columns: 1fr;
    }

    .submit {
        margin-bottom: 15px;
    }
}
