@import "variables";
@import "status-colors";

.controls {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid $infiltro-border-grey;
    height: 40px;

    .btn {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding-left: 5px;
        padding-right: 9px;
        cursor: pointer;

        &.red {
            background-color: $infiltro-red;
            color: #fff;

            &:hover {
                background-color: darken($infiltro-red, 10%);
            }
        }

        img {
            width: 25px;
            height: auto;
        }
    }

    .filter {
        position: relative;
        padding: 0 20px;
        border-right: 1px solid $infiltro-border-grey;

        .dropdown {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
            border: 1px solid $infiltro-border-grey;

            .item {
                display: flex;
                align-content: center;
                white-space: nowrap;
                padding: 1px 10px 1px 2px;
                cursor: pointer;

                &:empty {
                    display: none;
                }

                img {
                    margin-right: 5px;
                }

                span {
                    line-height: 25px;
                }

                &:hover {
                    background-color: darken(#fff, 10%);
                }
            }
        }

        &:hover {
            background-color: darken(#fff, 10%);

            .dropdown {
                display: block;
            }
        }
    }
}

.project {
    padding: 0 15px;
    margin: 10px 0;
    border-bottom: 1px solid $infiltro-border-grey;
    display: grid;
    grid-template-columns: 100px 1fr 100px 150px 15px;
    transition: 0.5s ease;

    &.selected {
        transform: scale(1.03);
        color: #fff;
        background-color: $infiltro-red;
        box-shadow: 0px 10px 14px -4px rgba(0, 0, 0, 0.43);
    }

    .batchMode & {
        cursor: pointer;
    }

    .company {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .dateHourCreated {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .title {
        grid-column-start: 2;
        grid-row-start: 1;
        cursor: pointer;
    }

    .status {
        grid-column-start: 3;
        grid-row-start: span 2;
    }

    .address {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .dateHourPlanned {
        grid-column-start: 4;
        grid-row-start: span 2;
    }

    .technicalDataFilledIn {
        grid-column-start: 5;
        grid-row-start: span 2;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 15px;
        }
    }
}

.title {
    font-weight: bold;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px);

    > * {
        margin-right: 20px;
    }
}
