@import "variables";
@import "forms";
@import "status-colors";

.controls {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid $infiltro-border-grey;
    height: 40px;

    * {
        user-select: none;
    }

    .btn {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding-left: 5px;
        padding-right: 9px;
        cursor: pointer;

        &.red {
            background-color: $infiltro-red;
            color: #fff;

            &:hover {
                background-color: darken($infiltro-red, 10%);
            }
        }

        img {
            width: 25px;
            height: auto;
        }
    }

    .filter {
        position: relative;
        padding: 0 20px;
        border-right: 1px solid $infiltro-border-grey;

        .title {
            display: flex;
            align-items: center;

            .error {
                background-color: $infiltro-red;
                color: #fff;
                font-size: 7px;
                height: 10px;
                width: 10px;
                border-radius: 10px;
                margin-left: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .dropdown {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
            border: 1px solid $infiltro-border-grey;
            min-width: 150px;
            z-index: 100;

            .select-options {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid $infiltro-border-grey;

                div {
                    border-right: 1px solid $infiltro-border-grey;
                    padding: 5px 0;
                    text-align: center;
                    flex-grow: 1;
                    display: block;

                    &:last-child {
                        border: none;
                    }

                    &.btn:hover {
                        background-color: darken(#fff, 10%);
                    }
                }
            }

            .item {
                display: flex;
                align-content: center;
                white-space: nowrap;
                padding: 1px 10px 1px 2px;
                cursor: pointer;

                &:empty {
                    display: none;
                }

                img {
                    margin-right: 5px;
                }

                span {
                    line-height: 25px;
                }

                &:hover {
                    background-color: darken(#fff, 10%);
                }
            }
        }

        &:hover {
            background-color: darken(#fff, 10%);

            .dropdown {
                display: block;
            }
        }

        &.sort {
            .arrow {
                height: 20px;
                padding: 4px 4px 0 4px;

                img {
                    height: 100%;
                    width: auto;

                    margin: 0;
                }

                &.desc {
                    img {
                        transform: scaleY(-1);
                    }
                }
            }
        }
    }
}

.projectList {
    border-bottom: 1px solid $infiltro-border-grey;
    padding-bottom: 25px;
}

.project {
    padding: 0 15px;
    margin: 10px 0;
    grid-gap: 2px;
    display: grid;
    grid-template-columns: 100px 1fr 100px 170px 15px 15px 15px;
    transition: 0.5s ease;

    &.selected {
        transform: scale(1.03);
        color: #fff;
        background-color: $infiltro-red;
        box-shadow: 0px 10px 14px -4px rgba(0, 0, 0, 0.43);
    }

    &.isFuturePlanned {
        position: relative;

        margin-top: 35px;

        &:before {
            content: '';
            position: absolute;
            width: calc(100% + 3px);
            top: -17px;
            left: -3px;
            border-top: 1px dotted $infiltro-red;
        }

        &:after {
            content: "Vandaag";
            position: absolute;
            top: -27px;
            left: 10px;
            padding: 0 5px 0 5px;
            background-color: #fff;
            font-style: italic;
            color: $infiltro-red;
        }

        &~& {
            margin-top: 10px;

            &:before {
                border-top: none;
            }

            &:after {
                content: '';
            }
        }
    }



    .batchMode & {
        cursor: pointer;
    }

    .company {
        grid-column-start: 1;
        grid-row-start: 1;
        font-weight: bold;
    }

    .dateHourCreated {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .title {
        grid-column-start: 2;
        grid-row-start: 1;
        cursor: pointer;
    }

    .status {
        grid-column-start: 3;
        grid-row-start: span 2;

        .read {
            padding: 0;
        }
    }

    .address {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .dateHourPlanned {
        grid-column-start: 4;
        grid-row-start: span 2;
    }

    .technicalDataFilledIn,
    .mailsSent,
    .commentGiven {
        grid-column-start: 5;
        grid-row-start: span 2;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 15px;
        }
    }

    .mailsSent {
        grid-column-start: 6;
    }

    .commentGiven {
        grid-column-start: 7;

        .commentContainer {
            display: flex;
            position: relative;

            .hoverComment {
                min-width: 320px;
                padding: 10px;
                background: white;
                border: 1px solid $infiltro-red;
                position: absolute;
                transform: translate(calc(-100% + 15px), calc(-100% - 10px));
                top: 0;

                &:after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    position: absolute;
                    bottom: -5px;
                    right: 2px;
                    -moz-transform: scale(.9999);
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid $infiltro-red;
                }

                .list.comments {
                    .comment {
                        display: grid;
                        grid-template-columns: 1fr 50px 15px;
                        grid-template-rows: 15px 1fr;
                        grid-gap: 5px;
                        padding: 5px;
                        margin: 5px 0;
                        border: 1px solid $infiltro-border-grey;
                        font-size: 12px;

                        .user {
                            grid-column-start: 1;
                            grid-row-start: 1;
                            font-weight: bold;
                        }

                        // .createdDateTime {
                        //     grid-column-start: span 2;
                        //     grid-row-start: 2;
                        // }

                        .modifiedDateTime {
                            grid-column-start: span 2;
                            grid-row-start: 2;
                            display: flex;
                            align-items: flex-end;
                            font-size: 8px;
                            color: $infiltro-grey;
                            text-align: right;
                        }

                        .content {
                            grid-column-start: 1;
                            grid-row-start: 2;
                        }

                        .icon {
                            img {
                                width: 15px;
                            }

                            &.edit {
                                grid-column-start: 2;
                                grid-row-start: 1;

                                display: flex;
                                justify-content: flex-end;
                                padding-right: 3px;
                            }

                            &.delete {
                                grid-column-start: 3;
                                grid-row-start: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.title {
    font-weight: bold;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px);

    >* {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .controls {
        .filter {
            padding: 0 5px;
            font-size: 10px;
        }
    }

    .project {
        grid-template-columns: 15% 1fr 18% 24% 3.5% 3.5% 3.5%;
    }
}