<div class="controls">
    <a [routerLink]="[ '/project/toevoegen' ]" class="btn red"><img src="/assets/images/icon-new.svg" alt=""> New project</a>
    <div class="btn filter status">
        <span class="title">Toon ook <span class="error" *ngIf="projectService.activeFilter.status.length == 0"><span>!</span></span></span>
        <div class="dropdown">
            <div class="select-options">
                <div>Selecteer</div>
                <div class="btn" (click)="selectAllFilter('status', true, 'statuses')">Alles</div>
                <div class="btn" (click)="selectAllFilter('status', false)">Niets</div>
            </div>
            <div class="item" *ngFor="let status of projectService.statuses" (click)="changeFilter('status', status.type)">
                <ng-container *ngIf="status.filter">
                    <img src="/assets/images/icon-unchecked.svg" alt="" *ngIf="!projectService.activeFilter.status.includes(status.type)">
                    <img src="/assets/images/icon-checked.svg" alt="" *ngIf="projectService.activeFilter.status.includes(status.type)">
                    <span>{{status.name}}</span>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="btn filter executor" *ngIf="auth.isAdmin()">
        <span class="title">Uitvoerder <span class="error" *ngIf="projectService.activeFilter.executor.length == 0"><span>!</span></span></span>
        <div class="dropdown">
            <div class="select-options">
                <div>Selecteer</div>
                <div class="btn" (click)="selectAllFilter('executor', true, 'executors')">Alles</div>
                <div class="btn" (click)="selectAllFilter('executor', false)">Niets</div>
            </div>
            <div class="item" *ngFor="let executor of projectService.executors"
                (click)="changeFilter('executor', executor.type)">
                <img src="/assets/images/icon-unchecked.svg" alt=""
                    *ngIf="!projectService.activeFilter.executor.includes(executor.type)">
                <img src="/assets/images/icon-checked.svg" alt=""
                    *ngIf="projectService.activeFilter.executor.includes(executor.type)">
                <span>{{executor.name}}</span>
            </div>
        </div>
    </div>

    <div class="btn filter company" *ngIf="auth.isAdmin()">
        <span class="title">Bedrijf <span class="error" *ngIf="projectService.activeFilter.company.length == 0"><span>!</span></span></span>
        <div class="dropdown">
            <div class="select-options">
                <div>Selecteer</div>
                <div class="btn" (click)="selectAllFilter('company', true, 'companies')">Alles</div>
                <div class="btn" (click)="selectAllFilter('company', false)">Niets</div>
            </div>
            <div class="item" *ngFor="let company of companyService.companies"
                (click)="changeFilter('company', company._id)">
                <img src="/assets/images/icon-unchecked.svg" alt=""
                    *ngIf="!projectService.activeFilter.company.includes(company._id)">
                <img src="/assets/images/icon-checked.svg" alt=""
                    *ngIf="projectService.activeFilter.company.includes(company._id)">
                <span>{{company.name}}</span>
            </div>
        </div>
    </div>

    <div class="btn filter sort" [ngClass]="projectService.sortOptions.order">
        <span class="title">Sorteer</span>
        <!-- <img src="/assets/images/icon-unchecked.svg" alt=""> -->
        <div class="dropdown">
            <div class="item" *ngFor="let sortable of projectService.sortables" (click)="sortProjects(sortable.type)">
                <ng-container *ngIf="sortable.sort">
                    <img src="/assets/images/icon-unchecked.svg" alt="" *ngIf="projectService.sortOptions.field !== sortable.type">
                    <img src="/assets/images/icon-checked.svg" alt="" *ngIf="projectService.sortOptions.field === sortable.type">
                    <span>{{sortable.name}}</span>
                    <span *ngIf="projectService.sortOptions.field === sortable.type && projectService.sortOptions.order == 'desc'"> | desc</span>
                    <span *ngIf="projectService.sortOptions.field === sortable.type && projectService.sortOptions.order == 'asc'"> | asc</span>
                </ng-container>      
            </div>
        </div>
    </div>
    <div class="btn filter batch" *ngIf="auth.isAdmin()" (click)="toggleBatchMode()">
            <span *ngIf="!batchMode" class="title">Batch status</span>
            <span *ngIf="batchMode && selectedProjects.length == 0" class="title">Stop batch status</span>
            <span *ngIf="batchMode && selectedProjects.length > 0" class="title">Pas projecten aan</span>        
    </div>
</div>

<div class="projectList" [ngClass]="{'batchMode': batchMode}">
    <ng-container *ngIf="projects.length > 0; else noProjectsFound">
        <div class="project" *ngFor="let project of projects" [ngClass]="[project.status]" [class.selected]="isSelected(project) && batchMode" (click)="selectProject(project)">
            <div class="company">{{companyService.companyName(project.company)}} </div>
            <ng-container *ngIf="!batchMode; else noBatchMode">
                <div class="title" [routerLink]="[ '/project', project._id ]">{{ project.projectName }} /
                    {{ projectService.projectTypeName(project.projectType) }} / {{project.houseAmount}}</div>
            </ng-container>
            <ng-template #noBatchMode>
                <div class="title">{{ project.projectName }} /
                    {{ projectService.projectTypeName(project.projectType) }} / {{project.houseAmount}}</div>
            </ng-template>
            
            
            <div class="status">
                <div class="read" (click)="selectProject(project)"
                (window:keydown)="registerCtrlKey($event)"
                (window:keyup)="registerCtrlKey($event)"
                    *ngIf="!isSelected(project) || batchMode">
                    {{projectService.statusName(project.status)}}
                </div>
                <div class="write" *ngIf="isSelected(project) && auth.isAdmin() && !batchMode">
                    <select name="status" id="status" (change)="changeStatus($event)">
                        <option value="">Selecteer status</option>
                        <option *ngFor="let status of projectService.statuses" [value]="status.type" [selected]="status.type === project.status">{{status.name}}</option>
                    </select>
                </div>
            </div>
            <div class="address">{{project.street}}, {{project.postalCode}} {{project.city}}<span *ngIf="project.extraInfoAddress" class="extraInfoAddress">, {{project.extraInfoAddress}}</span></div>
            <div class="dateHourCreated">{{ projectService.formatDate(project.dateCreated) }}</div>
            <div class="dateHourPlanned">
                <b>{{ projectService.executorName(project.executor) }}</b><br>
                {{ projectService.formatDate(project.datePlanned) }}
                <ng-container *ngIf="project.hourPlanned">om {{ project.hourPlanned }}</ng-container>
            </div>
            <div class="technicalDataFilledIn">
                <ng-container *ngIf="projectService.isTechnicalDataFilledIn(project); else technicalDataNotFilledIn">
                    <img src="/assets/images/icon-okay.svg" alt="">
                </ng-container>
                <ng-template #technicalDataNotFilledIn>
                    <img src="/assets/images/icon-not-okay.svg" alt="">
                </ng-template>
                
            </div>
        </div>
    </ng-container>
    <ng-template #noProjectsFound>
        <div class="empty">
            <img src="/assets/images/icon-broken-house.svg" alt="broken house">            
            <span>Geen projecten gevonden :(</span>
        </div>
    </ng-template>
</div>
<infiltro-modal id="batchmode-modal">
    <form [formGroup]="batchForm" (ngSubmit)="onSubmit()">
        <select name="status" id="status" formControlName="status">
            <option value="">Selecteer status</option>
            <option *ngFor="let status of projectService.statuses" [value]="status.type">{{status.name}}</option>
        </select>
        <p *ngIf="formService.checkInputField(batchForm, 'status', submitted)" class="error">!</p>
    
        <div class="inputGroup right">
            <input type="submit" value="Batch verwerken">
        </div>
        <button (click)="cancelBatchMode()">Annuleer</button>
    </form>
</infiltro-modal>