@import 'variables';

.list.comments {
    .comment {
        display: grid;
        grid-template-columns: 1fr 50px 15px;
        grid-template-rows: 15px 1fr;
        grid-gap: 5px;
        padding: 5px;
        margin: 5px 0;
        border: 1px solid $infiltro-border-grey;
        font-size: 12px;

        .user {
            grid-column-start: 1;
            grid-row-start: 1;
            font-weight: bold;
        }

        .modifiedDateTime {
            grid-column-start: span 2;
            grid-row-start: 2;
            display: flex;
            align-items: flex-end;
            font-size: 8px;
            color: $infiltro-grey;
            text-align: right;
        }

        .content {
            grid-column-start: 1;
            grid-row-start: 2;
        }

        .icon {
            img {
                width: 15px;
            }

            &.edit {
                grid-column-start: 2;
                grid-row-start: 1;

                display: flex;
                justify-content: flex-end;
                padding-right: 3px;
            }

            &.delete {
                grid-column-start: 3;
                grid-row-start: 1;
            }
        }
    }
}