<form [formGroup]="mailForm" (ngSubmit)="onSubmit()">
  <div class="inputGroup">
    <div class="left controls">
      <div (click)="goBack()"><img src="/assets/images/icon-back.svg" alt=""></div>
    </div>
  </div>
  
  <div class="inputGroup">
    <label for="to">Naar e-mailadres</label>
    <input type="email" name="to" formControlName="to">
    <p *ngIf="formService.checkInputField(mailForm, 'to', submitted)" class="error">!</p>
  </div>

  <div class="inputGroup">
    <label for="cc">cc</label>
    <input type="email" name="cc" formControlName="cc">
    <p *ngIf="formService.checkInputField(mailForm, 'cc', submitted)" class="error">!</p>
  </div>

  <div class="inputGroup">
    <label for="subject">Onderwerp</label>
    <input type="email" name="subject" formControlName="subject">
    <p *ngIf="formService.checkInputField(mailForm, 'subject', submitted)" class="error">!</p>
  </div>

  <div class="inputGroup textarea">
    <label for="body">Inhoud</label>
    <textarea name="body" id="body" formControlName="body" rows="3"></textarea>
    <p *ngIf="formService.checkInputField(mailForm, 'body', submitted)" class="error">!</p>
  </div>

  <div class="inputGroup right">
    <input type="submit" value="Mail verzenden">
  </div>
</form>
<div class="wrapper mailList" *ngIf="project">
  <div class="mail" *ngFor="let mail of project.mails">
    <div class="sender">{{userService.userToName(mail.sender)}}</div>
    <div class="receiver">{{mail.receiver}}</div>
    <div class="cc">{{mail.cc}}</div>
    <div class="dateSent">{{mail.dateSent}}</div>
    <div class="mailBody" [innerHTML]="mail.body"></div>
  </div>
</div>
