<div class="goBackRow">
  <div class="wrapper">
    <div class="goBack" (click)="goBack()">
      <img src="/assets/images/icon-back.svg" alt="">
    </div>
  </div>
</div>

<form *ngIf="auth.isAdmin()" [formGroup]="mailForm" class="wrapper">
  <div class="inputGroup">
    <label for="receiver">Naar e-mailadres</label>
    <input type="email" name="receiver" formControlName="receiver">
    <p *ngIf="formService.checkInputField(mailForm, 'receiver', submitted)" class="error">!</p>
  </div>

  <div class="inputGroup">
    <label for="cc">cc</label>
    <input type="email" name="cc" formControlName="cc">
    <p *ngIf="formService.checkInputField(mailForm, 'cc', submitted)" class="error">!</p>
  </div>

  <div class="inputGroup">
    <label for="subject">Onderwerp</label>
    <input type="email" name="subject" formControlName="subject">
    <p *ngIf="formService.checkInputField(mailForm, 'subject', submitted)" class="error">!</p>
  </div>

  <div class="inputGroup textarea">
    <label for="body">Inhoud</label>
    <app-mail-template-selector [templateBody]="templateBody$" [templateSaved]="templateSaved$"></app-mail-template-selector>
    <textarea name="body" id="body" formControlName="body" rows="3"></textarea>
    <p *ngIf="formService.checkInputField(mailForm, 'body', submitted)" class="error">!</p>
  </div>
  <div class="inputGroup right submit">
    <input type="submit" class="template" value="Template opslaan" (click)="saveTemplate()">
    <input type="submit" class="send" value="Mail verzenden" (click)="onSubmit()">
  </div>
</form>

<div class="wrapper mailPreview noBorder">
  <h2>Mailvoorbeeld</h2>
    <div class="mail">
      <div class="header">
        <div class="sender"><strong>Van:</strong> {{ auth.getUserDetails().id | user | async }}</div>
        <div class="receiver"><strong>Aan:</strong> {{mailForm.get('receiver').value}}</div>
        <div class="cc" *ngIf="mailForm.get('cc').value"><strong>Cc:</strong> {{mailForm.get('cc').value}}</div>
        <div class="subject" *ngIf="mailForm.get('subject').value"><strong>Onderwerp:</strong> <span
            [innerHTML]="mailForm.get('subject').value | mailTemplate | async | safeHtml"></span></div>
      </div>
      <div class="body" [innerHTML]="mailForm.get('body').value | newlineToBr | mailTemplate | async | safeHtml"></div>
    </div>
</div>

<hr>

<div class="wrapper mailList noBorder" *ngIf="singleProjectService.projectData">
  <h2>Verzonden mails</h2>
  <div class="mail" *ngFor="let mail of singleProjectService.projectData.mails | reverse">
    <div class="header">
      <div class="sender"><strong>Van:</strong> {{ mail.sender | user | async }}</div>
      <div class="receiver"><strong>Aan:</strong> {{mail.receiver}}</div>
      <div class="cc" *ngIf="mail.cc"><strong>Cc:</strong> {{mail.cc}}</div>
      <div class="dateSent"><strong>Datum:</strong> {{ mail.dateSent | formatDate: 'time'}}</div>
      <div class="subject" *ngIf="mail.subject"><strong>Onderwerp:</strong> {{mail.subject}}</div>
    </div>
    <div class="body" [innerHTML]="mail.body | safeHtml"></div>
  </div>
</div>
