<div class="goBackRow">
  <div class="wrapper">
    <div class="goBack" (click)="goBack()">
      <img src="/assets/images/icon-back.svg" alt="">
    </div>
  </div>
</div>

<form *ngIf="auth.isAdmin()" [formGroup]="mailForm" class="wrapper" (ngSubmit)="onSubmit()">
  <div class="inputGroup">
    <label for="to">Naar e-mailadres</label>
    <input type="email" name="to" formControlName="to">
    <p *ngIf="formService.checkInputField(mailForm, 'to', submitted)" class="error">!</p>
  </div>

  <div class="inputGroup">
    <label for="cc">cc</label>
    <input type="email" name="cc" formControlName="cc">
    <p *ngIf="formService.checkInputField(mailForm, 'cc', submitted)" class="error">!</p>
  </div>

  <div class="inputGroup">
    <label for="subject">Onderwerp</label>
    <input type="email" name="subject" formControlName="subject">
    <p *ngIf="formService.checkInputField(mailForm, 'subject', submitted)" class="error">!</p>
  </div>

  <div class="inputGroup textarea">
    <label for="body">Inhoud</label>
    <textarea name="body" id="body" formControlName="body" rows="3"></textarea>
    <p *ngIf="formService.checkInputField(mailForm, 'body', submitted)" class="error">!</p>
  </div>

  <div class="inputGroup right">
    <input type="submit" value="Mail verzenden">
  </div>
</form>
<div class="wrapper mailList noBorder" *ngIf="project">
  <div class="mail" *ngFor="let mail of project.mails | reverse">
    <div class="header">
      <div class="sender"><strong>Van:</strong> {{ mail.sender | user | async }}</div>
      <div class="receiver"><strong>Aan:</strong> {{mail.receiver}}</div>
      <div class="cc" *ngIf="mail.cc"><strong>Cc:</strong> {{mail.cc}}</div>
      <div class="dateSent"><strong>Datum:</strong> {{ mail.dateSent | formatDate: 'time'}}</div>
    </div>
    <div class="body" [innerHTML]="mail.body | safeHtml"></div>
  </div>
</div>
