@import 'variables';
@import 'forms';

.inputGroup.textarea {
    display: block;
    margin-top: 20px;

    label {
        text-align: left;
    }
    
    textarea {
        width: 100%;
    }
}

.mailList {


    .mail {
        margin: 10px 0;
        padding: 10px 15px;
        border-top: 1px solid $infiltro-border-grey;
    }
}