<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="true" [zoomControl]="true">

  <agm-marker *ngFor="let m of markers"
    [latitude]="m.lat"
    [longitude]="m.lng" 
    [label]="projectService.executorName(m.executor).substring(0,1).toUpperCase()"
    [iconUrl]="'assets/images/map/' + m.pointerUrl">

    <agm-info-window>
      <h2><a routerLink="/project/{{m.id}}" routerLinkActive="active">{{m.title}}</a></h2>
      <p>Adres: <a href="https://www.google.be/maps/search/{{m.street}}+{{m.postalCode}}+{{m.city}}" target="_blank">{{m.street}}, {{m.postalCode}} {{m.city}}</a></p>
      <p>Email: <a href="mailto:{{m.email}}">{{m.email}}</a></p>
      <p>Tel: <a href="tel:{{m.tel}}">{{m.tel}}</a></p>
      <p>Tijdstip: 
        <ng-container *ngIf="m.calendarLink">
          <a href="https://www.google.com/calendar/event?eid={{m.calendarLink}}" target="_blank">{{projectService.formatDate(m.datePlanned)}} om
            {{m.hourPlanned}}</a>
        </ng-container>
        <ng-container *ngIf="!m.calendarLink">
          {{projectService.formatDate(m.datePlanned)}} om
            {{m.hourPlanned}}
        </ng-container>
        
        </p>
      <p>Status: {{projectService.statusName(m.status)}}</p>
      <p>Bedrijf: {{companyService.companyName(m.company)}}</p>
    </agm-info-window>

  </agm-marker>

</agm-map>