<nav>
  <a routerLink="/projecten" routerLinkActive="active">Projecten</a>
  <a routerLink="/kaart" *ngIf="auth.isAdmin()" routerLinkActive="active">Kaart</a>
  <a routerLink="/staffel" routerLinkActive="active" *ngIf="companyService.pricePageVisible(auth.getUserDetails())">Staffel</a>
  <a *ngIf="auth.isAdmin()" routerLinkActive="active">Administratie
    <div class="submenu">
      <a routerLink="/admin/gebruikers" routerLinkActive="active">Gebruikers</a>
      <a routerLink="/admin/bedrijven" routerLinkActive="active">Bedrijven</a>
    </div>
  </a>
  <a routerLink="/inloggen" *ngIf="!auth.loggedIn()" routerLinkActive="active">Inloggen</a>
  <a *ngIf="auth.loggedIn()" (click)="auth.logoutUser()">Uitloggen</a>
</nav>