<nav>
  <a routerLink="/projects" routerLinkActive="active">Projects</a>
  <a routerLink="/map" *ngIf="auth.isAdmin()" routerLinkActive="active">Map</a>
  <a routerLink="/admin" *ngIf="auth.isAdmin()" routerLinkActive="active">Admin
    <div class="submenu">
      <a routerLink="/admin/users" routerLinkActive="active">Users</a>
      <a routerLink="/admin/companies" routerLinkActive="active">Companies</a>
      <a routerLink="/admin/projects" routerLinkActive="active">Projects</a>
    </div>
  </a>
  <a routerLink="/login" *ngIf="!auth.loggedIn()" routerLinkActive="active">Login</a>
  <a *ngIf="auth.loggedIn()" (click)="auth.logoutUser()">Logout</a>
</nav>