<form [formGroup]="projectForm" [ngClass]="projectForm.value.status">
  <div class="projectSection">
      <div class="projectRow space-between">
        <div class="left controls">
          <div (click)="goToOverview()"><img src="/assets/images/icon-back.svg" alt=""></div>
          <div (click)="onSubmit()"><img src="/assets/images/icon-save.svg" alt=""></div>
          <div *ngIf="projectId" (click)="removeProject()"><img src="/assets/images/icon-delete.svg" alt=""></div>
          <div (click)="openProjectMail()"><img src="/assets/images/icon-mail.svg" alt=""></div>
          <!-- <div *ngIf="projectForm.value.invoiced && auth.isAdmin()" (click)="changeInvoicedStatus()"><img src="/assets/images/icon-invoice.svg" alt=""></div> -->
          <!-- <div *ngIf="!projectForm.value.invoiced && auth.isAdmin()" (click)="changeInvoicedStatus()"><img src="/assets/images/icon-invoiced.svg" alt=""></div> -->
        </div>
        <div class="right">
          <label for="EpbReporter">Contactpersoon binnen<span
              *ngIf="projectForm.controls.EpbReporter.validator !== null">*</span></label>
          <div class="inputField">
            <div class="read" (click)="changeEditState('company', true)" [ngClass]="{'empty': isEmpty('company')}" *ngIf="!projectEditStates.company || !auth.isAdmin()">
              {{companyService.companyName(projectForm.value.company)}}
            </div>
            <div class="write" *ngIf="projectEditStates.company && auth.isAdmin()">
              <select name="company" id="company" formControlName="company">
                <option value="">Selecteer bedrijf</option>
                <option *ngFor="let company of companyService.companies" [value]="company._id">{{company.name}}</option>
              </select>
              <p *ngIf="formService.checkInputField(projectForm, 'company', submitted)" class="error">!</p>
            </div>
          </div>
          <span>:</span>
          <div class="inputField">
            <div class="read" (click)="changeEditState('EpbReporter', true)" [ngClass]="{'empty': isEmpty('EpbReporter')}" *ngIf="!projectEditStates.EpbReporter">
              {{ userService.userToName(projectForm.value.EpbReporter)}}
            </div>
            <div class="write" *ngIf="projectEditStates.EpbReporter">
              <select name="EpbReporter" id="EpbReporter" formControlName="EpbReporter">
                <option value="">Selecteer EPB verslaggever</option>
                <ng-container *ngFor="let EpbReporter of userService.users">
                  <option *ngIf="EpbReporter.company === projectForm.value.company" [value]="EpbReporter._id">{{EpbReporter.name || EpbReporter.email}}</option>
                </ng-container>
              </select>
              <p *ngIf="formService.checkInputField(projectForm, 'EpbReporter', submitted)" class="error">!</p>
            </div>
          </div>
        </div>
      </div>
          <div class="projectRow right">
            <label for="status">Status: <span *ngIf="projectForm.controls.status.validator !== null">*</span></label>
            <div class="inputField">
              <div class="read status" (click)="changeEditState('status', true)" [ngClass]="{'empty': isEmpty('status')}" *ngIf="!projectEditStates.status">
                {{projectService.statusName(projectForm.value.status)}}
              </div>
              <div class="write" *ngIf="projectEditStates.status">
                <select name="status" id="status" formControlName="status">
                  <option value="">Selecteer status</option>
                  <option *ngFor="let status of projectService.statuses" [value]="status.type">{{status.name}}</option>
                </select>
                <p *ngIf="formService.checkInputField(projectForm, 'status', submitted)" class="error">!</p>
              </div>
            </div>
          </div>
  </div>
  <div class="projectSection">
    <div class="projectRow space-between">
      <div class="left">
        <h2>{{projectForm.value.projectName}}</h2>
      </div>
      <div class="right">
        <label for="dateCreated">Datum aanvraag:&nbsp;</label>
        <div class="inputField">
          <div class="read" (click)="changeEditState('dateCreated', true)" [ngClass]="{'empty': isEmpty('dateCreated')}" *ngIf="!projectEditStates.dateCreated || !auth.isAdmin()">
            {{projectService.formatDate(projectForm.value.dateCreated)}}
          </div>
          <div class="write" *ngIf="projectEditStates.dateCreated && auth.isAdmin()">
            <input type="date" name="dateCreated" id="dateCreated" formControlName="dateCreated">
            <p *ngIf="formService.checkInputField(projectForm, 'dateCreated', submitted)" class="error">!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="projectRow">
      <label for="projectType">Type<span
          *ngIf="projectForm.controls.projectType.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read" (click)="changeEditState('projectType', true)" [ngClass]="{'empty': isEmpty('projectType')}" *ngIf="!projectEditStates.projectType">
          {{projectService.projectTypeName(projectForm.value.projectType)}}
        </div>
        <div class="write" *ngIf="projectEditStates.projectType">
          <select name="projectType" id="projectType" formControlName="projectType">
            <option value="">Selecteer type</option>
            <option *ngFor="let projectType of projectService.projectTypes" [value]="projectType.type">{{projectType.name}}</option>
          </select>
          <p *ngIf="formService.checkInputField(projectForm, 'projectType', submitted)" class="error">!</p>
        </div>
      </div>
    </div>

    <div class="projectRow">
      <label for="houseAmount">Aantal/omschrijving <span
          *ngIf="projectForm.controls.houseAmount.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read" (click)="changeEditState('houseAmount', true)" [ngClass]="{'empty': isEmpty('houseAmount')}" *ngIf="!projectEditStates.houseAmount">
          {{projectForm.value.houseAmount}}
        </div>
        <div class="write" *ngIf="projectEditStates.houseAmount">
          <input type="text" name="houseAmount" id="houseAmount" formControlName="houseAmount">
          <p *ngIf="formService.checkInputField(projectForm, 'houseAmount', submitted)" class="error">!</p>
        </div>
      </div>
    </div>

    <div class="projectRow">
      <label for="projectName">Referentie <span
          *ngIf="projectForm.controls.projectName.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read" (click)="changeEditState('projectName', true)" [ngClass]="{'empty': isEmpty('projectName')}" *ngIf="!projectEditStates.projectName">
          {{projectForm.value.projectName}}
        </div>
        <div class="write" *ngIf="projectEditStates.projectName">
          <input type="text" name="projectName" id="projectName" formControlName="projectName">
          <p *ngIf="formService.checkInputField(projectForm, 'projectName', submitted)" class="error">!</p>
        </div>
      </div>
    </div>

    <!-- <div class="projectRow">
      <label for="client">client <span *ngIf="projectForm.controls.client.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read" (click)="changeEditState('client', true)" [ngClass]="{'empty': isEmpty('client')}" *ngIf="!projectEditStates.client">
          {{projectForm.value.client}}
        </div>
        <div class="write" *ngIf="projectEditStates.client">
          <input type="text" name="client" id="client" formControlName="client">
          <p *ngIf="formService.checkInputField(projectForm, 'client', submitted)" class="error">!</p>
        </div>
      </div>
    </div> -->
  </div>

  <div class="projectSection">
    <div class="projectRow">
      <h2>Adres</h2>
    </div>
    <div class="projectRow">
      <label for="street">Straat + Nr <span *ngIf="projectForm.controls.street.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read" (click)="changeEditState('street', true)" [ngClass]="{'empty': isEmpty('street')}" *ngIf="!projectEditStates.street">
          {{projectForm.value.street}}
        </div>
        <div class="write" *ngIf="projectEditStates.street">
          <input type="text" name="street" id="street" formControlName="street">
          <p *ngIf="formService.checkInputField(projectForm, 'street', submitted)" class="error">!</p>
        </div>
      </div>
    </div>

    <div class="projectRow">
      <label for="city">Gemeente <span *ngIf="projectForm.controls.city.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read" (click)="changeEditState('city', true)" [ngClass]="{'empty': isEmpty('city')}" *ngIf="!projectEditStates.city">
          {{projectForm.value.city}}
        </div>
        <div class="write" *ngIf="projectEditStates.city">
          <input type="text" name="city" id="city" formControlName="city">
          <p *ngIf="formService.checkInputField(projectForm, 'city', submitted)" class="error">!</p>
        </div>
      </div>
    </div>

    <div class="projectRow">
      <label for="postalCode">Postcode <span
          *ngIf="projectForm.controls.postalCode.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read" (click)="changeEditState('postalCode', true)" [ngClass]="{'empty': isEmpty('postalCode')}" *ngIf="!projectEditStates.postalCode">
          {{projectForm.value.postalCode}}
        </div>
        <div class="write" *ngIf="projectEditStates.postalCode">
          <input type="number" name="postalCode" id="postalCode" formControlName="postalCode" min="1000" max="9999">
          <p *ngIf="formService.checkInputField(projectForm, 'postalCode', submitted)" class="error">!</p>
        </div>
      </div>
    </div>

    <div class="projectRow textarea">
      <label for="extraInfoAddress">Bijkomende aanwijzingen <span
          *ngIf="projectForm.controls.extraInfoAddress.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read" (click)="changeEditState('extraInfoAddress', true)" [ngClass]="{'empty': isEmpty('extraInfoAddress')}"
          *ngIf="!projectEditStates.extraInfoAddress" [innerHTML]="newlineToBr(projectForm.value.extraInfoAddress)">
        </div>
        <div class="write" *ngIf="projectEditStates.extraInfoAddress">
          <textarea name="extraInfoAddress" id="extraInfoAddress" formControlName="extraInfoAddress"
            rows="3"></textarea>
          <p *ngIf="formService.checkInputField(projectForm, 'extraInfoAddress', submitted)" class="error">!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="projectSection">
    <div class="projectRow">
      <h2>Contactgegevens</h2>
    </div>
    <div class="projectRow">
      <label for="name">Naam <span *ngIf="projectForm.controls.name.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read" (click)="changeEditState('name', true)" [ngClass]="{'empty': isEmpty('name')}" *ngIf="!projectEditStates.name">
          {{projectForm.value.name}}
        </div>
        <div class="write" *ngIf="projectEditStates.name">
          <input type="text" name="name" id="name" formControlName="name">
          <p *ngIf="formService.checkInputField(projectForm, 'name', submitted)" class="error">!</p>
        </div>
      </div>
    </div>

    <div class="projectRow">
      <label for="tel">Telefoonnummer(s) <span *ngIf="projectForm.controls.tel.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read" (click)="changeEditState('tel', true)" [ngClass]="{'empty': isEmpty('tel')}" *ngIf="!projectEditStates.tel">
          {{projectForm.value.tel}}
        </div>
        <div class="write" *ngIf="projectEditStates.tel">
          <input type="text" name="tel" id="tel" formControlName="tel">
          <p *ngIf="formService.checkInputField(projectForm, 'tel', submitted)" class="error">!</p>
        </div>
      </div>
    </div>

    <div class="projectRow">
      <label for="email">E-mail <span *ngIf="projectForm.controls.email.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read" (click)="changeEditState('email', true)" [ngClass]="{'empty': isEmpty('email')}" *ngIf="!projectEditStates.email">
          {{projectForm.value.email}}
        </div>
        <div class="write" *ngIf="projectEditStates.email">
          <input type="email" name="email" id="email" formControlName="email">
          <p *ngIf="formService.checkInputField(projectForm, 'email', submitted)" class="error">!</p>
        </div>
      </div>
    </div>

    <div class="projectRow textarea">
      <label for="extraInfoContact">Bijkomende gegevens <span
          *ngIf="projectForm.controls.extraInfoContact.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read" (click)="changeEditState('extraInfoContact', true)" [ngClass]="{'empty': isEmpty('extraInfoContact')}"
          *ngIf="!projectEditStates.extraInfoContact" [innerHTML]="newlineToBr(projectForm.value.extraInfoContact)">
        </div>
        <div class="write" *ngIf="projectEditStates.extraInfoContact">
          <textarea name="extraInfoContact" id="extraInfoContact" formControlName="extraInfoContact"
            rows="3"></textarea>
          <p *ngIf="formService.checkInputField(projectForm, 'extraInfoContact', submitted)" class="error">!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="projectSection">
    <div class="projectRow">
      <h2>Technische gegevens</h2>
    </div>
    <div class="projectRow textarea">
      <label for="ATest">A-test (m<sup>2</sup>) <span *ngIf="projectForm.controls.ATest.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read" (click)="changeEditState('ATest', true)" [ngClass]="{'empty': isEmpty('ATest')}" *ngIf="!projectEditStates.ATest"
          [innerHTML]="newlineToBr(projectForm.value.ATest)"></div>
        <div class="write" *ngIf="projectEditStates.ATest">
          <textarea name="ATest" id="ATest" formControlName="ATest" rows="3"></textarea>
          <p *ngIf="formService.checkInputField(projectForm, 'ATest', submitted)" class="error">!</p>
        </div>
      </div>
    </div>

    <div class="projectRow textarea">
      <label for="v50Value">v50-waarde (m<sup>3</sup>/h.m<sup>2</sup>) <span *ngIf="projectForm.controls.v50Value.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read" (click)="changeEditState('v50Value', true)" [ngClass]="{'empty': isEmpty('v50Value')}" *ngIf="!projectEditStates.v50Value"
          [innerHTML]="newlineToBr(projectForm.value.v50Value)"></div>
        <div class="write" *ngIf="projectEditStates.v50Value">  
          <textarea name="v50Value" id="v50Value" formControlName="v50Value" rows="3"></textarea>
          <p *ngIf="formService.checkInputField(projectForm, 'v50Value', submitted)" class="error">!</p>
        </div>
      </div>
    </div>

    <div class="projectRow textarea">
        <label for="protectedVolume">Beschermd volume (m<sup>3</sup>) <span
            *ngIf="projectForm.controls.protectedVolume.validator !== null">*</span></label>
        <div class="inputField">
          <div class="read" (click)="changeEditState('protectedVolume', true)" [ngClass]="{'empty': isEmpty('protectedVolume')}" *ngIf="!projectEditStates.protectedVolume"
            [innerHTML]="newlineToBr(projectForm.value.protectedVolume)"></div>
          <div class="write" *ngIf="projectEditStates.protectedVolume">
            <textarea name="protectedVolume" id="protectedVolume" formControlName="protectedVolume" rows="3"></textarea>
            <p *ngIf="formService.checkInputField(projectForm, 'protectedVolume', submitted)" class="error">!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="projectRow">
    <label for="EpbNumber">EPB Dossiernummer <span *ngIf="projectForm.controls.EpbNumber.validator !== null">*</span></label>
    <div class="inputField">
      <div class="read" (click)="changeEditState('EpbNumber', true)" [ngClass]="{'empty': isEmpty('EpbNumber')}" *ngIf="!projectEditStates.EpbNumber">
        {{projectForm.value.EpbNumber}}
      </div>
      <div class="write" *ngIf="projectEditStates.EpbNumber">
        <input type="text" name="EpbNumber" id="EpbNumber" formControlName="EpbNumber">
        <p *ngIf="formService.checkInputField(projectForm, 'EpbNumber', submitted)" class="error">!</p>
      </div>
    </div>
  </div>

  <div class="projectSection">
    <div class="projectRow">
      <h2>Uitvoergegevens</h2>
    </div>
    <div class="projectRow">
      <label for="executor">Uitvoerder <span *ngIf="projectForm.controls.executor.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read" (click)="changeEditState('executor', true)" [ngClass]="{'empty': isEmpty('executor')}" *ngIf="!projectEditStates.executor || !auth.isAdmin()">
          {{projectService.executorName(projectForm.value.executor)}}
        </div>
        <div class="write" *ngIf="projectEditStates.executor && auth.isAdmin()">
          <select name="executor" id="executor" formControlName="executor">
            <option value="">Selecteer uitvoerder</option>
            <option *ngFor="let executor of projectService.executors" [value]="executor.type">{{executor.name}}</option>
          </select>
          <p *ngIf="formService.checkInputField(projectForm, 'executor', submitted)" class="error">!</p>
        </div>
      </div>
    </div>

    <div class="projectRow">
      <label for="datePlanned">Datum ingepland <span
          *ngIf="projectForm.controls.datePlanned.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read" (click)="changeEditState('datePlanned', true)" [ngClass]="{'empty': isEmpty('datePlanned')}" *ngIf="!projectEditStates.datePlanned || !auth.isAdmin() || hasCalendarItem">
          {{projectService.formatDate(projectForm.value.datePlanned)}}
        </div>
        <div class="write" *ngIf="projectEditStates.datePlanned && auth.isAdmin() && !hasCalendarItem">
          <input type="date" name="datePlanned" id="datePlanned" formControlName="datePlanned">
          <p *ngIf="formService.checkInputField(projectForm, 'datePlanned', submitted)" class="error">!</p>
        </div>
      </div>
    </div>

    <div class="projectRow">
      <label for="hourPlanned">Uur ingepland <span
          *ngIf="projectForm.controls.hourPlanned.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read" (click)="changeEditState('hourPlanned', true)" [ngClass]="{'empty': isEmpty('hourPlanned')}" *ngIf="!projectEditStates.hourPlanned || !auth.isAdmin() || hasCalendarItem">
          {{projectForm.value.hourPlanned}}
        </div>
        <div class="write" *ngIf="projectEditStates.hourPlanned && auth.isAdmin() && !hasCalendarItem">
          <input type="time" name="hourPlanned" id="hourPlanned" formControlName="hourPlanned">
          <p *ngIf="formService.checkInputField(projectForm, 'hourPlanned', submitted)" class="error">!</p>
        </div>
      </div>
    <!-- </div>
    <div class="projectRow">
      <label for="status">Status: <span *ngIf="projectForm.controls.status.validator !== null">*</span></label>
      <div class="inputField">
        <div class="read status" (click)="changeEditState('status', true)" [ngClass]="{'empty': isEmpty('status')}"
          *ngIf="!projectEditStates.status">
          {{projectService.statusName(projectForm.value.status)}}
        </div>
        <div class="write" *ngIf="projectEditStates.status">
          <select name="status" id="status" formControlName="status">
            <option value="">Selecteer status</option>
            <option *ngFor="let status of projectService.statuses" [value]="status.type">{{status.name}}</option>
          </select>
          <p *ngIf="formService.checkInputField(projectForm, 'status', submitted)" class="error">!</p>
        </div>
      </div>
    </div> -->
  </div>
  

  <div class="projectSection">
    <div class="projectRow">
      <h2>Opmerkingen</h2>
    </div>
    <div class="projectRow textarea">
      <!-- <label for="comments">Opmerkingen <span *ngIf="projectForm.controls.comments.validator !== null">*</span></label> -->
      <div class="inputField">
        <div class="read" (click)="changeEditState('comments', true)" [ngClass]="{'empty': isEmpty('comments')}" *ngIf="!projectEditStates.comments"
          [innerHTML]="newlineToBr(projectForm.value.comments)"></div>
        <div class="write" *ngIf="projectEditStates.comments">
          <textarea name="comments" id="comments" formControlName="comments" rows="3"></textarea>
          <p *ngIf="formService.checkInputField(projectForm, 'comments', submitted)" class="error">!</p>
        </div>
      </div>
    </div>
  </div>
</form>

<infiltro-modal id="mail-project-modal">

</infiltro-modal>