<div class="list companies">
  <h1>Company admin</h1>
  <div class="item" *ngFor="let company of companyService.getCompanies() | async">
    <div>{{company.name}}</div>
    <div>{{company.email}}</div>
    <div>
      <ng-container *ngIf="company.pricePageVisible">
        Staffel zichtbaar
      </ng-container>
    </div>
    <div class="icon" (click)="editCompany(company)"><img src="assets/images/icon-edit.svg" alt=""></div>
    <div class="icon" *ngIf="company._id !== auth.getUserDetails().company" (click)="removeCompany(company)"><img src="assets/images/icon-delete.svg" alt=""></div>
  </div>
</div>


<form [formGroup]="companyForm" class="wrapper">
  <div class="inputGroup">
    <label for="name">Bedrijfsnaam</label>
    <input type="text" name="name" formControlName="name">
    <p *ngIf="formService.checkInputField(companyForm, 'name', submitted)" class="error">!</p>
  </div>

  <div class="inputGroup">
    <label for="email">Emailadres</label>
    <input type="email" name="email" formControlName="email">
    <p *ngIf="formService.checkInputField(companyForm, 'email', submitted)" class="error">!</p>
  </div>

  <div class="inputGroup">
    <label for="pricePageVisible">Staffel pagina zichtbaar</label>
    <input type="checkbox" name="pricePageVisible" formControlName="pricePageVisible">
    <p *ngIf="formService.checkInputField(companyForm, 'pricePageVisible', submitted)" class="error">!</p>
  </div>
  

  <div class="inputGroup right submit">
    <input type="submit" value="Annuleer" (click)="cancel()">
    <input type="submit" [value]="editState ? 'Bedrijf aanpassen' : 'Bedrijf toevoegen'" (click)="onSubmit()">
  </div>
  
</form>