$contractSigned: #6c6c6c;
$toContact: #fb0007;
$toPlan: #f38337;
$proposalSent: #f38337;
$planned: #2749ff;
$onHold: #6c6c6c;
$onHoldCovid19: #BF00FF;
$executed: #0f7001;
$reportAvailable: #627c34;
$conformityAvailable: #25d00d;
$completed: #8ab047;

@mixin status-color($color) {
    .status,
    .status .read {
        color: $color;
    }

    &:not(.project) {
        border-top: 3px solid $color;
    }

    &.project {
        border-left: 3px solid $color;
    }
}

.contractSigned {
    @include status-color($toContact);
}

.toContact {
    @include status-color($toContact);
}

.toPlan {
    @include status-color($toPlan);
}

.proposalSent {
    @include status-color($proposalSent);
}

.planned {
    @include status-color($planned);
}

.onHold,
.onHoldByClient {
    @include status-color($onHold);
}

.onHoldCovid19 {
    @include status-color($onHoldCovid19);
}

.executed {
    @include status-color($executed);
}

.reportAvailable {
    @include status-color($reportAvailable);
}

.conformityAvailable {
    @include status-color($conformityAvailable);
}

.completed {
    @include status-color($completed);
}

.undefined {
    @include status-color($contractSigned);
}