$infiltro-grey: #777;
$infiltro-border-grey: #ededed;
$infiltro-red: #ED1F24;
$infiltro-green: #2FB770;
$input-padding: 3px;
$input-lineheight: 18px;
$input-fontsize: 13px;

:root {
    --label-width: 25%;
}