@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

@import "variables";
@import "~ngx-toastr/toastr";
@import "modal";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Tahoma, Helvetica;
    font-size: 13px;
    color: $infiltro-grey;
    line-height: 1.5;
}

h1 {
    margin-top: 0;
    color: $infiltro-red;
    font-size: 1.2em;
}

h2 {
    color: $infiltro-red;
    font-size: 1em;
    font-weight: 800;
}

hr {
    border: none;
    border-top: 1px solid #ededed;
}

.wrapper {
    width: 95%;
    max-width: 960px;
    margin: auto;

    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid $infiltro-border-grey;

    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        border: 1px solid $infiltro-border-grey;
        border-top: none;
        border-bottom: none;
    }

    .logo {
        flex-shrink: 1;
        width: 350px;
        cursor: pointer;
    }
}



main {
    // padding: 0 15px;
    border-left: 1px solid $infiltro-border-grey;
    border-right: 1px solid $infiltro-border-grey;
    min-height: calc(100vh - 130px)
}

@media only screen and (max-width: 600px) {
    .desktop-only {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    .mobile-only {
        display: none;
    }
}

.error {
    $size: 15px;

    background-color: $infiltro-red;
    color: #fff;
    font-size: 7px;
    height: $size;
    width: $size;
    border-radius: 100%;
    margin-right: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


// because of scoping, it sits here
.projectSection {
    &.split {
        .left,
        .right {
            .projectRow {
                label {
                    width: calc(var(--label-width) * 2);
                }
            }
        }
    }
}